server {
	listen [::]:80 default_server;
	include /etc/nginx/sites-enabled-agnostic/{{template_path | basename | replace('.j2','')}};
}

server {
	listen [::]:443 default_server ssl;
	include /etc/nginx/sites-enabled-agnostic/{{template_path | basename | replace('.j2','')}};

	# HSTS for 2 months
	add_header Strict-Transport-Security "max-age=5256000; includeSubDomains";
}
