{% for site in sites %}
{% macro listen_parameters() %}
	{% if site == "default" %} default_server{% endif %}
	{% if loop.first %} ipv6only=off{% endif %}
{% endmacro %}

{% macro favicon_config() %}
	location = /favicon.ico {
		root /usr/share/nginx/default;
	}	
{% endmacro %}

server {
	listen [::]:80 {{ listen_parameters() }};
{{ favicon_config() }}
	include /etc/nginx/sites-enabled-agnostic/{{site}};
}

server {
	listen [::]:443 ssl {{ listen_parameters() }};
{{ favicon_config() }}
	include /etc/nginx/sites-enabled-agnostic/{{site}};

	# HSTS for 2 months
	add_header Strict-Transport-Security "max-age=5256000; includeSubDomains";
}
{% endfor %}

