[settings]
display_stats = false
strict = false
verbose = false
logging = true
httpbl_key = "{{httpbl_access_key}}"
httpbl_threat = 20
httpbl_maxage = 30
offsite_forms = false
eu_cookie = false
reverse_proxy = false
reverse_proxy_header = "X-Forwarded-For"
;reverse_proxy_addresses[] = 
