<?php
# Protect against web entry
if ( !defined( 'MEDIAWIKI' ) ) {
	exit;
}

$wgLocalDatabases = array( 'metawiki', 'testwiki' );
$wgConf = new SiteConfiguration;
$wgConf->wikis = $wgLocalDatabases;
$wgConf->suffixes = array( 'wiki' );
$wgConf->localVHosts = array( '{{mysql_address}}' );
$wgConf->fullLoadCallback = 'wmfLoadInitialiseSettings';

$wgConf->settings = array(
	// AbuseFilter
	'wgAbuseFilterCentralDB' => array(
		'default' => 'metawiki',
	),
	'wgAbuseFilterIsCentral' => array(
		'default' => false,
		'metawiki' => true,
	),
	// /AbuseFilter

	// Permissions
	'wgAddGroups' => array(
		'default' => array(
			'bureaucrat' => array(
				'bureaucrat',
				'rollbacker',
				'sysop',
			),
			'sysop' => array(
				'rollbacker',
			),
		),
	),
	'+wgGroupPermissions' => array(
		'default' => array(
			'*' => array(
				'abusefilter-log' => true,
				'abusefilter-log-detail' => true,
				'abusefilter-view' => true,
			),
			'checkuser' => array(
				// Leaks IP addresses
				'abusefilter-private' => true,
			),
			'rollbacker' => array(
				'autoconfirmed' => true,
				'rollback' => true,
			),
			'sysop' => array(
				'abusefilter-hidden-log' => true,
				'abusefilter-hide-log' => true,
				'abusefilter-modify' => true,
				'abusefilter-modify-restricted' => true,
				'abusefilter-revert' => true,
				'deletelogentry' => true,
				'deleterevision' => true,
			),
		),
		'+metawiki' => array(
			'steward' => array(
				'abusefilter-modify-global' => true,
				'centralauth-lock' => true,
				'centralauth-oversight' => true,
				'centralauth-unmerge' => true,
				'globalblock' => true,
				'globalunblock' => true,
				'noratelimit' => true,
				'userrights' => true,
				'userrights-interwiki' => true,
			),
		),
	),
	'wgGroupsRemoveFromSelf' => array(
		'default' => array(
			'*' => true,
		)
	),
	'wgRemoveGroups' => array(
		'default' => array(
			'bureaucrat' => array(
				'rollbacker',
				'sysop',
			),
			'sysop' => array(
				'rollbacker',
			),
		),
	),
	// /Permissions

	// Server
	'wgArticlePath' => array(
		'default' => '/wiki/$1',
	),
	'wgDiff3' => array(
		'default' => '/usr/bin/diff3',
	),
	'wgDisableOutputCompression' => array(
		'default' => true,
	),
	'wgResourceLoaderMaxQueryLength' => array(
		'default' => -1,
	),
	'wgScriptExtension' => array(
		'default' => '.php',
	),
	'wgScriptPath' => array(
		'default' => '/w',
	),
	'wgServer' => array(
		'default' => '//unconfigured.orain.org',
		'metawiki' => "//meta.orain.org",
		'testwiki' => '//test.orain.org',
	),
	'wgUsePathInfo' => array(
		'default' => true,
	),
	// /Server

	// CentralAuth
	'wgCentralAuthAutoMigrate' => array(
		'default' => true,
	),
	'wgCentralAuthAutoNew' => array(
		'default' => true,
	),
	'wgCentralAuthCookieDomain' => array(
		'default' => '.orain.org',
	),
	'wgCentralAuthCookies' => array(
		'default' => true,
	),
	'wgCentralAuthCreateOnView' => array(
		'default' => true,
	),
	'wgDisableUnmergedEditing' => array(
		'default' => true,
	),
	// /CentralAuth

	// Database
	'wgDBpassword' => array(
		'default' => "{{mw_db_password}}",
	),
	'wgDBprefix' => array(
		'default' => '',
	),
	'wgDBserver' => array(
		'default' => "{{mysql_address}}",
	),
	'wgDBTableOptions' => array(
		'default' => "ENGINE=InnoDB, DEFAULT CHARSET=binary",
	),
	'wgDBtype' => array(
		'default' => 'mysql',
	),
	'wgDBuser' => array(
		'default' => "{{mw_db_user}}",
	),
	// /Database

	// Style
	'wgDefaultSkin' => array(
		'default' => 'vector',
	),
	'wgLogo' => array(
		'default' => '/w/skins/common/images/wiki.png',
		'metawiki' => '//upload.orain.org/metawiki/thumb/1/1a/Coollogo_com-222242978.png/135px-Coollogo_com-222242978.png',
		'testwiki' => '//upload.orain.org/testwiki/8/8d/Twlogo.png',
	),
	'wgStylePath' => array(
		'default' => '/w/skins',
	),
	// /Style

	// Email
	'wgEmailAuthentication' => array(
		'default' => true,
	),
	'wgEmergencyContact' => array(
		'default' => 'kudu.py@gmail.com',
		'testwiki' => 'dahowe@bsugmail.net',
	),
	'wgEnableEmail' => array(
		'default' => false,
	),
	'wgEnableUserEmail' => array(
		'default' => false,
	),
	'wgEnotifUserTalk' => array(
		'default' => false,
	),
	'wgEnotifWatchlist' => array(
		'default' => false,
	),
	'wgPasswordSender' => array(
		'default' => 'noreply@orain.org',
	),
	// /Email

	// Profiling
	'wgEnableProfileInfo' => array(
		'default' => true,
	),
	'wgProfileToDatabase' => array(
		'default' => true,
	),
	// /Profiling

	// Files
	'wgEnableUploads' => array(
		'default' => true,
	),
	'wgGenerateThumbnailOnParse' => array(
		'default' => false,
	),
	'wgUseInstantCommons' => array(
		'default' => true,
	),
	// /Files

	// GraphicsMagick
	'wgImageMagickConvertCommand' => array(
		'default' => "/usr/bin/convert",
	),
	'wgShellLocale' => array(
		'default' => "en_US.utf8",
	),
	'wgUseImageMagick' => array(
		'default' => true,
	),
	// /GraphicsMagick

	// Language
	'wgLanguageCode' => array(
		'default' => 'en',
	),
	// /Language

	// Memcached
	'wgMainCacheType' => array(
		'default' => CACHE_MEMCACHED,
	),
	'wgMemCachedServers' => array(
		'default' => array( '{{memcache_address}}:11211' ),
	),
	// /Memcached

	// Names
	'wgMetaNamespace' => array(
		'metawiki' => 'Meta',
	),
	'+wgNamespacesWithSubpages' => array(
		'default' => array(
			NS_MAIN => true,
		),
	),
	'wgSitename' => array(
		'default' => 'Unconfigured',
		'metawiki' => 'Orain Meta',
		'testwiki' => 'TestWiki',
	),
	// /Names

	// License
	'wgRightsIcon' => array(
		'default' => '/w/skins/common/images/cc-by-sa.png',
	),
	'wgRightsPage' => array(
		'default' => '',
	),
	'wgRightsText' => array(
		'default' => 'Creative Commons Attribution Share Alike',
	),
	'wgRightsUrl' => array(
		'default' => 'http://creativecommons.org/licenses/by-sa/3.0/',
	),
	// /License

	// Keys
	'wgSecretKey' => array(
		'default' => '{{wgSecretKey}}',
	),
	'wgUpgradeKey' => array(
		'default' => '{{wgUpgradeKey}}',
	),
	// /Keys
);

// From https://www.mediawiki.org/wiki/Manual:$wgConf#for_1.14_and_newer
function efGetSiteParams( $conf, $wiki ) {
	$site = null;
	$lang = null;
	foreach( $conf->suffixes as $suffix ) {
		if ( substr( $wiki, -strlen( $suffix ) ) == $suffix ) {
			$site = $suffix;
			$lang = substr( $wiki, 0, -strlen( $suffix ) );
			break;
		}
	}
	return array(
		'suffix' => $site,
		'lang' => $lang,
		'params' => array(
			'lang' => $lang,
			'site' => $site,
			'wiki' => $wiki,
		),
		'tags' => array(),
	);
}

require_once( "$IP/extensions/AbuseFilter/AbuseFilter.php" );
require_once( "$IP/extensions/CentralAuth/CentralAuth.php" );
require_once( "$IP/extensions/CheckUser/CheckUser.php" );
require_once( "$IP/extensions/InputBox/InputBox.php" );
require_once( "$IP/extensions/GlobalBlocking/GlobalBlocking.php" );
require_once( "$IP/extensions/OrainMessages/OrainMessages.php" );
require_once( "$IP/extensions/ParserFunctions/ParserFunctions.php" );
require_once( "$IP/extensions/Scribunto/Scribunto.php" );
require_once( "$IP/extensions/SiteMatrix/SiteMatrix.php" );
require_once( "$IP/extensions/WikimediaMessages/WikimediaMessages.php" );

// Defaults
$wgGroupPermissions['bureaucrat']['userrights'] = false;
unset($wgGroupPermissions['steward']);

$wgConf->siteParamsCallback = 'efGetSiteParams';
$wgDBname = array_search('//' . $_SERVER['HTTP_HOST'], $wgConf->settings['wgServer']);
$wgConf->extractAllGlobals( $wgDBname );

$wgUploadDirectory = "/usr/share/nginx/upload.orain.org/$wgDBname";
$wgUploadPath = "http://upload.orain.org/$wgDBname";

$wgSiteMatrixSites = array();
?>
