# defaults

define service{
	host_name			prod1
	service_description		Disk Space
	check_command			check_nrpe_1arg!check_xvda1
	use				generic-service
	}

define service{
        host_name			prod3,prod4,prod6
	service_description		Disk Space
	check_command			check_nrpe_1arg!check_simfs
	use				generic-service
	}

define service{
	hostgroup_name			all
	service_description		Current Users
	check_command			check_nrpe_1arg!check_users
	use				generic-service
	}

define service{
	hostgroup_name			all
	service_description		Total Processes
	check_command			check_nrpe_1arg!check_total_procs
	use				generic-service
	}

define service{
	hostgroup_name			all
	service_description		Current Load
	check_command			check_nrpe_1arg!check_load
	use				generic-service
	}

define service{
	hostgroup_name			all
	service_description		Ansible Run
	check_command			check_nrpe_1arg!check_ansible_run
	use				generic-service
	}

# /defaults

# groups
define service{
	hostgroup_name			http-servers
	service_description		HTTP
 	check_command			check_http
	use				generic-service
	}

define service{
	hostgroup_name			http-servers
	service_description		HTTPS
	check_command			check_https
	use				generic-service
	}

define service{
	hostgroup_name			http-servers
	service_description		SSL
	check_command			check_ssl_cert!30!7
	use				generic-service
	}
define service{
	hostgroup_name			http-servers
	service_description		DNS
	check_command			check_dns_c!orain.org
	use				generic-service
	}


define service{
	hostgroup_name			ssh-servers
	service_description		SSH
	check_command			check_ssh
	use				generic-service
	}

define service{
	hostgroup_name			db-servers
	service_description		MySQL
	check_command			check_mysql
	use				generic-service
	}
# /groups

# hosts
define service{
	use				generic-service
	host_name			prod1,prod6
	service_description		SMTP
	check_command			check_smtp
	}

define service{
	use				generic-service
	host_name			prod1,prod6
	service_description		IMAP
	check_command			check_imap
	}
# /hosts
